<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'tasks/new' %>
<% end %>

<div class="header-new">
  <%= image_tag("spoon-pills.jpg", :alt => " ", :class => "picture-new") %>
</div>


<h1 class="greeting">Managing your weight or medication?</h1>
<h3 class="greeting-sub">We'll be the friend to text you.</h3>

<%= render 'form' %>

<h5 class="nav-links"><%= link_to "Return to Dashboard", user_tasks_path(@user), :class => "nav-links" %></h5>