/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a:hover {
	background-color: transparent;
}

.nav-links {
  margin-top: 60px;
  font: 400 15px/1.0 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);  
  text-align: center;
}

.nav-links:hover {
  margin-top: 60px;
  font: 400 15px/1.0 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);  
  text-align: center;
  background-color: transparent;
  text-shadow: 3px 3px 3px #fff;
}

.profile-buttons {
	text-align: right;
	font: 400 12.5px/1.0 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
}

.profile-buttons:hover {
	font: 400 12.5px/1.0 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
  background-color: transparent;
}

.greeting {
  font: 400 60px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
  margin-top: 20px;
  text-align: center;
}

.greeting-sub {
  font: 400 30px/1.0 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
  text-align: center;
  margin-bottom: 50px;
}

.greeting-sub-sub {
  font: 400 20px/1.0 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
  text-align: center;
}

.field {
  font: 400 15px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

label {
  font: 400 15px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

select {
  font: 400 15px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

textarea {
  font: 400 15px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;  
}

input {
  font: 400 15px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

.horizontal-list li {
  display: inline-block;
  font: 400 15px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

.centered {
  text-align: center;
}